---
layout: position_page
title: "People Operations Administrator"
salary:
---

This role reports to the Senior Director of People Operations and works daily to support the recruiting team.
<%= partial "includes/positions/people-operations-admin/responsibilities" %>
<%= partial "includes/positions/people-operations-admin/requirements" %>
