---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "SVN vs GitLab | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- data.comparisons.gitlab_vs_svn do |comparison_block|
  = partial "includes/comparison_table", locals: { comparison_block: comparison_block }
